form{
    margin: 10px;
    text-align: center;
}
input{
    margin: 20px;
}
.result {
    width: 60%;
    text-align: center;
    margin: auto;
}

button {
    display: block;
    margin: 20px auto;
}
a{
    text-decoration: none;

}